:root {
  /* Font Families. These are system fonts and cost nothing */
  --monospace-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --sans-serif-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --serif-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  /* Some measurements. Rely on browser defaults for all else */
  --line-height: 150%;
  --font-size: 16px;
  --root-spacing: 1em;

  /* Basic color stuff */
  --color-primary: #111;
  --color-secondary: blue;
  --color-tertiary: gray;
}

body {
  box-sizing: content-box;
  color: var(--color-primary);
  font-family: var(--sans-serif-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0 auto !important;
  max-width: 768px;
  padding: var(--root-spacing);
}

body > header > nav > h1 > a {
  color: var(--color-secondary);
  text-decoration: none;
}

body > header > nav {
  display: grid;
  grid-template-columns: 50% auto;
}

body > header > nav > ul {
  text-align: right;
}

body > header > nav > ul > li {
  display: inline-block;
  margin-left: var(--root-spacing);
  text-transform: lowercase;
}

body > footer > nav > ul {
  margin: 0;
  padding: 0;
}

body > footer > nav > ul > li {
  display: inline-block;
  margin-right: calc(var(--root-spacing) / 2);
}

a {
  color: black;
  text-decoration-color: var(--color-secondary);
}

a:hover {
  color: var(--color-secondary);
}

em {
  font-family: var(--serif-family);
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-size: var(--font-size);
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  margin-left: var(--root-spacing);
}

blockquote {
  border-left: 1px solid var(--color-tertiary);
  margin: 0;
  padding-left: var(--root-spacing);
}

article,
section {
  margin: calc(var(--root-spacing) * 2.5) 0;
}

article > header > h2 > a {
  text-decoration: none;
}

article > footer {
  color: gray;
}

article > footer a {
  color: gray;
  text-decoration-color: gray;
}

article > footer > p > time {
  margin-right: calc(var(--root-spacing) / 2);
}

.katex-display {
  margin: calc(var(--root-spacing) * 2) 0;
  text-align: left !important;
}

@media all and (max-width: 520px) {
  :root {
    --font-size: 14px;
  }

  body > header > nav {
    display: block;
  }

  body > header > nav > ul {
    margin: 0;
    padding: 0;
  }

  body > header > nav > * {
    display: inline;
    font-size: var(--font-size);
  }
}
