<header>
  <nav>
    <h1>
      <a href="/" title="Home">Stats Notes</a>
    </h1>
    <ul>
      <li>
        <a href="/about" title="About this site">
          About
        </a>
      </li>
      <li>
        <a href="/bookmarks" title="Bookmarks">
          Bookmarks
        </a>
      </li>
    </ul>
  </nav>
</header>