---
layout: default
---

{% macro noteTags(tags) %}
  {% if tags.length > 0 %}
    {% set sortedTags = tags | sort %}
    {% for tag in sortedTags %}
      <a href="{{ site.url }}/tags/{{tag}}" title="Notes tagged {{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro singleNote(note) %}
  {% set isSingle = page.url == note.url %}
  <article>
    <header>
      <h2>
        <a href="{{ site.url }}{{ note.url }}" title="{{ note.data.title | superSafeString }}">{{ note.data.title }}</a>
      </h2>
    </header>

    {{ note.templateContent | safe }}

    <footer>
      <p>
        <time datetime="{{ note.data.date | toISODateString }}">
          {{ note.data.date | date("do MMMM yyyy") | safe }}
        </time>
        <span>{{ noteTags(note.data.tags) }}</span>
      </p>
    </footer>
  </article>
{% endmacro %}