---
layout: default
---

{% macro noteTags(tags) %}
  {% if tags.length > 0 %}
    {% set sortedTags = tags | sort %}
    Tagged
    {% for tag in sortedTags %}
      <a href="/tags/{{tag}}" title="Notes tagged {{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro singleNote(note) %}
  {% set isSingle = page.url == note.url %}

  <article>
    <header>
      <h2>
        <a href="{{ note.url }}" title="{{ note.data.title | superSafeString }}">{{ note.data.title }}</a>
      </h2>
    </header>

    {{ note.templateContent | safe }}

    <footer>
      <p>
        {{ noteTags(note.data.tags) }}
        {% if isSingle %}
          <br/>
          Posted
          <time datetime="{{ note.data.date }}">
            {{ note.data.date | safe }}
          </time>
        {% endif %}
      </p>
    </footer>
  </article>
{% endmacro %}