:root {
  --monospace-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --sans-serif-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --line-height: 165%;
  --root-spacing: 1em;
  --font-size: 14px;
}

body {
  max-width: 768px;
  margin: 0 auto !important;
  font-family: var(--sans-serif-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body > header > nav > h1 > a {
  color: blue;
  text-decoration: none;
}

body > header > nav {
  display: grid;
  grid-template-columns: 50% auto;
}

body > header > nav > ul {
  text-align: right;
}

body > header > nav > ul > li {
  display: inline-block;
  margin-left: var(--root-spacing);
}

body > footer > nav > ul {
  margin: 0;
  padding: 0;
}
body > footer > nav > ul > li {
  display: inline-block;
  margin-right: calc(var(--root-spacing) / 2);
}

a {
  color: black;
  text-decoration-color: blue;
}
a:hover {
  color: blue;
}

article {
  margin: calc(var(--root-spacing) * 2.5) 0;
}

article figure {
  margin: 0;
  padding: 0;
}

article figcaption {
  margin-left: var(--root-spacing);
}

article blockquote {
  border-left: 1px solid blue;
  margin: 0;
  padding-left: var(--root-spacing);
}

article > footer {
  font-size: smaller;
}

.katex-display {
  margin: calc(var(--root-spacing) * 2) 0;
  text-align: left!important;
}
